body {
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: blue;
  font-family: "Courier New", Courier, monospace;
}

.d-flex {
  display: flex;
}
p.a {
  font: 50px Arial, sans-serif;
}

p.b {
  font: italic small-caps bold 35px/30px Georgia, serif;
}

